.formControl{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    background-color: rgb(242, 240, 240);
    border-radius: 1.0em;
}
.formControl label{
    margin-bottom: .6em;
    font-weight: bold;
}
.formControl input{
    padding: .7em;
    border-radius: 0.4em;
    border: none;
    background-color: rgb(216, 215, 215);
    margin-bottom: 20px;
}
.formControl input::placeholder{
    color: #7b7b7b;
}
.formControl label,input,button,a,h1{
    padding: 0px 10px;
}