.message{
    max-width: 100%;
    padding: 1em;
    border: 1px solid #000;
    margin: 0 auto 2em auto;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sucess{
    color: #155724;
    background-color: #D4EDDA;
    border-color:#C3E6CB ;
}
.error{
    
    color: #721c24;
    background-color: #F8d7DA;
    border-color: #f5c6cb;
}